[submodule "libs/mg_common_game"]
	path = libs/mg_common_game
	url = https://github.com/monthly-games/mg-common-game.git
[submodule "libs/mg_common_analytics"]
	path = libs/mg_common_analytics
	url = https://github.com/monthly-games/mg-common-analytics.git
[submodule "libs/mg_common_infra"]
	path = libs/mg_common_infra
	url = https://github.com/monthly-games/mg-common-infra.git
[submodule "libs/mg_common_backend"]
	path = libs/mg_common_backend
	url = https://github.com/monthly-games/mg-common-backend.git
